<!-- Declaration: Part of the layout design and css files are generated through Trae AI, parameters modified by the writer of the repo -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- introduce the axios library, used for doing http request-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> <!-- using css as the render of the webpage -->
    <style>
    #container {
        display: flex;
    }
    #preview-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        z-index: 1000;
    }
    #preview-content {
        max-height: 400px;
        overflow-y: auto;
    }
    #latest-file-display {
        display: block; /* 初始状态为显示 */
        position: fixed; /* 修改为固定定位 */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5); /* 居中并放大 */
        border: 2px solid red;
        padding: 10px;
        background-color: #f9f9f9;
        z-index: 1000; /* 提高层级 */
    }
    #button-list {
        width: 20%;
        padding: 20px;
        box-sizing: border-box;
    }
    #content {
        width: 80%;
        padding: 20px;
        box-sizing: border-box;
    }
    #fileList {
        margin-top: 20px;
    }
    </style>
</head>
<body>
    <h1>Fall Detection</h1>
    <!-- Some basic components of the page, rendered by the .css file -->
    <audio id="alrtSound" src="/static/alert.mp3" preload="auto"></audio>
    <div id="container">
        <div id="button-list">
            <button id="toggleLatestFile" style="display: block; margin-bottom: 20px;">close the latest file display</button>
            <button id="resumeDetection" style="display: block; margin-bottom: 20px;">continue detection</button>
            <button id="pauseObservation" style="display: block; margin-bottom: 20px;">pause detection</button>
            <button id="getDetectionChart" style="display: block; margin-bottom: 20px;">Get Detection Chart</button>
            <input type="date" id="chartDate" style="display: block; margin-bottom: 20px;">
            <button id="toggleChart" style="display: block; margin-bottom: 20px;">Show Detection Chart</button>
        </div>
        <div id="content">
            <div id="latest-file-display"></div>
            <ul id="fileList" class="file-list">
            </ul>
        </div>
        <div id="chart-container" style="display: none;">
            <img id="detectionChart" style="display: block; margin-top: 20px;" />
        </div>
    </div>
    <img id="detectionChart" style="display: none; margin-top: 20px;" />
    <div id="preview-container">
        <button id="close-preview">close preview</button>
        <div id="preview-content"></div>
    </div>

    <!-- The processing functions in script domain -->
    <script>
        const socket = io('http://127.0.0.1:5000');
        // Mark used to mark the first initialization of the file list
        let isFirst = true;

        socket.on('update_chart', function(data) {
            const date = data.date;
            updateDetectionChart(date);
            console.log("Updating Chart!!!!");
        });

        // Callback when update_chart event is triggered
        function updateDetectionChart(date) 
        {
            axios.get('/get_detection_chart', {params:{date: date}})
            .then(response => {
                const chart = document.getElementById('detectionChart');
                const timestamp = new Date().getTime();
                chart.src = '/static/detection_chart.png?t=' + timestamp;
                chart.style.display = 'block';
                document.getElementById('chart-container').style.display = 'block';
                document.getElementById('toggleChart').textContent = 'Hide Detection Chart';
            })
            .catch(error => {
                console.error('Error fetching detection chart:', error);
                alert('Failed to fetch detection chart');
            });
        }
        let checkingNewFiles = true;

        function playAlertSound()
        {
            const alrtSound = document.getElementById('alrtSound');
            alrtSound.play();
        }

        // Encapsulate a helper function for creating a file element, currently only for mp4 files
        // Waiting for more files to be added if there are needs
        function createFileElement(file, isLatest = false) {
            const li = document.createElement('li');
            li.className = 'file-item';
            li.dataset.filePath = file.path;

            const strong = document.createElement('strong');
            strong.textContent = file.name;
            li.appendChild(strong);
            console.log('File type:', file.type);

            if (file.type === '.mp4') {
                const video = document.createElement('video');
                video.width = 320;
                video.height = 240;
                video.controls = true;

                const source = document.createElement('source');
                source.src = `/uploads/${file.path}`;
                source.type = 'video/mp4';

                video.appendChild(source);
                li.appendChild(video);
            } else {
                // Do nothing when other files arrives
            }

            if (!isLatest) {
                const deleteButton = document.createElement('button');
                deleteButton.className = 'delete-file';
                deleteButton.textContent = 'Delete';
                li.appendChild(deleteButton);
            }

            return li;
        }
        // helper function for updating the file list to be visualized
        function updateFileList(files) {
            const fileList = document.getElementById('fileList');
            const latestFileContainer = document.getElementById('latest-file-display');
            fileList.innerHTML = ''; 
            latestFileContainer.innerHTML = ''; 

            // sort the files in their creation time
            files.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));

            files.forEach((file, index) => {
                const fileElement = createFileElement(file);
                fileList.appendChild(fileElement);

                // update the newest file to be contained in the latest-file-container
                if (index === 0) {
                   latestFileContainer.appendChild(createFileElement(file, true));
                }
            });
        }

        // Main event: Checking new files within specified directory and do response when necessary 
        function checkNewFiles() {
            if (!checkingNewFiles) return;
            console.log("checking new files")
            axios.get('/get_new_files')
                .then(response => {
                    const data = response.data;
                    if (data.status === "paused") {
                        checkingNewFiles = false;
                        console.log("detection paused");
                        // play the alert sound
                        playAlertSound();
                        // pause for a few seconds before showing the alert
                        setTimeout(() => {
                            // alert with the timestamp of current system time
                            alert("Fall detected on " + new Date().toLocaleString() + ", the automatic detection has been paused, press on continue detection to continue");
                        }, 7000);
                        // update status of corresponding buttons
                        document.getElementById('pauseObservation').disabled = true;
                        document.getElementById('resumeDetection').disabled = false;
                        document.getElementById('latest-file-display').style.display = 'block';
                        document.getElementById('toggleLatestFile').textContent = 'close the latest file display';
                        // update the file list
                        updateFileList(data.files); 
                    } else {
                        // Don't update the file list if there are no new files detected every 5 seconds, or the file list is empty
                        if(isFirst)
                        {
                            console.log("first time");
                            updateFileList(data); 
                            isFirst = false;
                        }
                        setTimeout(checkNewFiles, 5000);
                    }
                })
                .catch(error => {
                    console.error('Error fetching new files:', error);
                    setTimeout(checkNewFiles, 5000);
                });
        }

        /* Below are some basic logic of the buttons */
        // The pause detection button trigger logic
        document.getElementById('pauseObservation').addEventListener('click', function() {
                axios.post('/pause_observation')
                .then(response => {
                    const data = response.data;
                    if (data.status === "paused") {
                        console.log("detection has been paused manually");
                        alert(data.message);
                        checkingNewFiles = false;
                        document.getElementById('pauseObservation').disabled = true;
                        document.getElementById('resumeDetection').disabled = false;
                    }
                })
                .catch(error => {
                    console.error('Error pausing observation:', error);
                    alert('observation failed: ' + (error.response ? error.response.data.error : error.message));
                });
        });

        // The get detection chart button trigger logic
        document.getElementById('getDetectionChart').addEventListener('click', function() {
            const date = document.getElementById('chartDate').value;
            if (!date) {
                alert('Please select a date');
                return;
            }
            alert("getting the conclusion figure for: "+ date);
            axios.get('/get_detection_chart', {params:{date: date}})
                .then(response => {
                    const chart = document.getElementById('detectionChart');
                    const timestamp = new Date().getTime();
                    chart.src = '/static/detection_chart.png?t=' + timestamp;
                    chart.style.display = 'block';
                    document.getElementById('chart-container').style.display = 'block';
                    document.getElementById('toggleChart').textContent = 'Hide Detection Chart';
                })
                .catch(error => {
                    console.error('Error fetching detection chart:', error);
                    alert('Failed to fetch detection chart');
                });
        });
        
        document.getElementById('close-preview').addEventListener('click', function() {
            document.getElementById('preview-container').style.display = 'none';
            document.getElementById('preview-content').innerHTML = '';
        });

        // The resume detection button trigger logic
        document.getElementById('resumeDetection').addEventListener('click', function() {
            axios.get('/resume_detection')
                .then(response => {
                    const data = response.data;
                    if (data.status === "resumed") {
                        console.log("detection restored");
                        alert("detection restored, the system will continue to monitor new files");
                        checkingNewFiles = true;
                        // update the file list for possible missing of files
                        updateFileList(data.files);
                        // update the status of the corresponding buttons
                        document.getElementById('pauseObservation').disabled = false;
                        document.getElementById('resumeDetection').disabled = true;
                        // Then continue the detection
                        checkNewFiles();
                    }
                })
                .catch(error => {
                    console.error('Error resuming detection:', error);
                    alert('detection restoration failed' + (error.response ? error.response.data.error : error.message));
                });
        });

        // The delete file button trigger logic
        document.getElementById('fileList').addEventListener('click', function(e) {
            if (e.target.classList.contains('delete-file')) {
                const li = e.target.closest('li');
                const filePath = li.dataset.filePath;

                axios.post('/delete_file', { file_path: filePath })
                    .then(response => {
                        const data = response.data;
                        if (data.status === 'success') {
                            // Don't forget to update the UI after the deletion in the OS
                            li.remove();
                            alert(data.message);
                        } else {
                            alert('deletion failed:' + data.message);
                        }
                        // Don't forget to update the file list after the deletion
                        const latestFileContainer = document.getElementById('latest-file-display');
                        latestFileContainer.innerHTML = ''; 
                        const files = data.files;
                        files.forEach((file, index) => {
                            const fileElement = createFileElement(file);
                            fileList.appendChild(fileElement);

                            // update the newest file to be contained in the latest-file-container
                            if (index === 0) {
                            latestFileContainer.appendChild(createFileElement(file, true));
                        }
                    })

                    })
                    .catch(error => {
                        console.error('Error deleting file:', error);
                        alert('deletion failed: error generated');
                    });
            }
        });

        // The open/close latest file display button trigger logic
        document.getElementById('toggleLatestFile').addEventListener('click', function() {
            const latestFileContainer = document.getElementById('latest-file-display');
            if (latestFileContainer.style.display === 'none') {
                latestFileContainer.style.display = 'block';
                this.textContent = 'close the latest file display';
            } else {
                latestFileContainer.style.display = 'none';
                this.textContent = 'open the latest file display';
            }
        });

        // The show/hide detection chart button trigger logic
        document.getElementById('toggleChart').addEventListener('click', function() {
        const chartContainer = document.getElementById('chart-container');
            if (chartContainer.style.display === 'none') {
                chartContainer.style.display = 'block';
                this.textContent = 'Hide Detection Chart';
            } else {
                chartContainer.style.display = 'none';
                this.textContent = 'Show Detection Chart';
            }
        });

        // Keep the buttons logic consistent with the initial state of the page
        // Only show the contents when the DOM tree are fully loaded and prepared
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('resumeDetection').disabled = true;
            document.getElementById('pauseObservation').disabled = false;
            document.getElementById('preview-container').style.display = 'none';
            document.getElementById('preview-content').innerHTML = '';
        });

        checkNewFiles(); // main event loop of the whole page
    </script>
</body>
</html>